    <div class='nebula'>
        <img src="img/nebula.png"/>
    </div>

    <!--header for each page-->
    <header class='curtain1'>
        <a class=home href='home.html'><strong>CS and the Galaxy</strong></a>
    </header>

    <!--nav bar for each page-->

    <nav class='curtain2'>
        <div>
            <a href='page1.ejs'>SpaceX</a>
            <a href='page2.ejs'>Astropy</a>
            <a href='page3.ejs'>GoogleSky</a>
        </div>
    </nav>